/**
 * @name Slate
 * @author Gibbu#1211 & Tropical#8908
 * @version 1.1
 * @invite TeRQEPb
 * @description An optimized, consistent, and functional theme for Discord based on GitHub's design language.
 * @source https://github.com/DiscordStyles/Slate/
 * @website https://discordstyles.github.io/slate-theme/
*/
/*
  Import Source Code
*/
@import url("https://discordstyles.github.io/AdjustableServerWidth/base.css");
@import url("https://discordstyles.github.io/Slate/dist/Slate.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
/*
  Basic Variables
  See available vars here: https://github.com/DiscordStyles/Slate/wiki
*/
:root
{
  /* Primary Colors */
  --link-colour: 48, 144, 255;
  /* Server List */
  --server-icon-size: 50px;
  --server-icon-spacing: 10px;
  --server-container-padding: 8px;
}
/*
  Place any Theme-specific Custom CSS Below here
*/
/*Nord Palette*/
html:root
{
    --slate-palette: "Nordic";
    --text-normal:#d8dee9;
    --text-muted:#a4b2cc;
    --background:#292f3a;
    --background-dark:#2c303a;
    --background-light:#353c4a;
    --background-alt:#2e3440;
    --background-modifier-hover:#3b4252;
    --background-modifier-active:#434c5e;
    --toolbar-background-alt: #292f3a;
    --toolbar-background: #353c4a;
    --toolbar-background-hover: #3b4252;
    --toolbar-background-active: #353c4a;
    --toolbar-search-background: #2e3440;
    --toolbar-search-border:var(--toolbar-border);
    --toolbar-border: #232831;
    --toolbar-text-muted: #a4b2cc;
    --toolbar-text-normal: #ddeeff;
    --background-modifier-hover:#3b4252;
    --background-modifier-active:#434c5e;
    --guilds-background:#2f3544;
    --base-border:#272b35;
    --accent: 85, 116, 155; /* #55749b */
    --status-red: 191, 97, 106;
    --status-green: 163, 190, 140;
    --status-yellow: 163, 190, 140;

    --settings-min-height: 960px;
    --settings-max-height: 960px;
    --settings-min-width: 1600px;
    --settings-max-width: 1600px;

    --input-height: 27px;
    --font-size: 13.5px;
    --line-height: 1.6;
}
/**
 * @name RadialStatus
 * @author Gibbu#1211
 * @version 2.0.0
 * @invite ZHthyCw
 * @description Changes the status icons to wrap around the avatar. Shape can be changed inside the theme file.
 * @source https://github.com/DiscordStyles/RadialStatus
 * @website https://www.gibbu.me
*/
:root {
  --rs-small-spacing: 0px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 0%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
