background_color           0.13 0.16 0.20
ui_background_color        0.13 0.16 0.20
status_bar_color           0.13 0.16 0.20

dark_mode_background_color 0.13 0.16 0.20

custom_background_color    0.13 0.16 0.20
custom_text_color          1.0 1.0 1.0


font_size                  13
ui_font                    Terminess Nerd Font


startup_commands
toggle_custom_color;toggle_statusbar;toggle_mouse_drag_mode
